{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "moneyrecord/base.css" %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>MoneyRecord</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
<script type="text/javascript" src="{% static 'moneyrecord/js/base.js' %}">
</html>